.AppBar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--header-height-mobile);
  background-color: var(--header-bg-mobile-color);
}

.AppBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.logoSvg {
  width: 60px;
}

@media screen and (min-width: 768px) {
  .AppBar__container {
    height: var(--header-height-tablet);
  }

  .logoSvg {
    width: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .AppBar__container {
    background-color: var(--white);
  }

  .logo__container {
    display: flex;
    align-items: center;
  }

  .logoTitle {
    font-size: 24px;
    color: var(--header-bg-mobile-color);
  }
}
