.AppBar__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--header-height-mobile);
  background-color: var(--header-bg-mobile-color);
}

.AppBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.logoSvg {
  width: 60px;
}

@media screen and (min-width: 768px) {
  .AppBar__container {
    height: var(--header-height-tablet);
    background-color: var(--white);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  }

  .logo__container {
    display: flex;
    align-items: center;
  }

  .logoSvg {
    width: 100px;
  }

  .logoTitle {
    font-size: 24px;
    color: var(--header-bg-mobile-color);
  }
}
