.Diagram__container {
  margin: 0 auto;
  width: 264px;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .Diagram__container {
    padding-top: 24px;
  }
}

@media screen and (min-width: 768px) {
  .Diagram__container {
    width: 410px;
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1279px) {
  .Diagram__container {
    margin-bottom: 34px;
  }
}
