.buttonsBox {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  background-color: var(--dashboard-odd-string-bg-color);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .buttonsBox {
    position: static;
    background-color: transparent;
    border-top: none;
  }
}
