.balanceHead {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'HelveticaNeueCyr';
  background-color: #516d57;
  color: #ffffff;
  font-weight: 600;
  height: 92px;
  width: 100%;
  font-size: 15px;
  border-radius: 3px;
  margin-bottom: 19px;
  text-align: center;
}
