.Currency__container {
  min-height: 400px;
  background: -130px -10px / 150% url('../../svg/waves-chart-bg.svg') var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list {
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
  padding: 20px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid var(--grey);
}

.title {
  composes: list;
  background-color: var(--grey);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
