.balanceHeadList {
  list-style: none;
  width: 50%;
}

@media (min-width: 768px) {
  .balanceHeadList {
    background-color: #f3f6f6;
    display: flex;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
  }

  .balanceHeadList:not(:first-child) {
    display: none;
  }
}
