.balanceList {
  box-shadow: 29px 34px 80px -58px #bfbdbd;
  border-left: 9px solid #75c16e;
  display: flex;
  flex-direction: column;
}

.balanceList:not(:last-child) {
  margin-bottom: 14px;
}

.balanceTable {
  width: 100%;
  display: flex;
}

@media (min-width: 700px) {
  .balanceList {
    flex-direction: column;
    border: none;
  }

  .balanceList:not(:last-child) {
    margin-bottom: 0;
  }

  .balanceList:nth-child(2).balanceHeadList {
    display: none;
  }

  .balanceList:nth-child(odd) {
    background-color: #f3f6f6;
  }
}
