.BalanceMobileNote {
  border-left: 8px solid;
  box-shadow: var(--primary-box-shadow);
}

.BalanceMobileNote:not(:last-child) {
  margin-bottom: 15px;
}

.BalanceMobileNote:nth-child(9n + 1) {
  border-color: #df8e25;
}

.BalanceMobileNote:nth-child(9n + 2) {
  border-color: olive;
}

.BalanceMobileNote:nth-child(9n + 3) {
  border-color: red;
}

.BalanceMobileNote:nth-child(9n + 4) {
  border-color: #25badf;
}

.BalanceMobileNote:nth-child(9n + 5) {
  border-color: aqua;
}

.BalanceMobileNote:nth-child(9n + 6) {
  border-color: maroon;
}

.BalanceMobileNote:nth-child(9n + 7) {
  border-color: #aa25df;
}

.BalanceMobileNote:nth-child(9n + 8) {
  border-color: #b6aa41;
}

.BalanceMobileNote:nth-child(9n + 9) {
  border-color: palevioletred;
}
