.totalBalance {
  min-height: 80px;
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg-mobile-color);
  border-radius: 5px;
  color: var(--white);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .totalBalance {
    margin: 0;
    flex-direction: row;
    justify-content: start;
    background: none;
    white-space: nowrap;
  }

  .text {
    color: var(--header-bg-mobile-color);
    margin-right: 20px;
    margin-bottom: 0;
  }

  .text__tablet {
    color: var(--user-name-mobile-color);
  }
}

@media screen and (min-width: 1280px) {
  .totalBalance {
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    justify-content: space-around;
    background-color: var(--primary-bg-green-color);
    border-radius: 5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  }

  .text,
  .text__tablet {
    color: var(--white);
  }
}
