.desktopWrap {
  display: none;
}

.registerWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 22px;
  max-width: 320px;
  min-width: 240px;
  text-align: center;
}

.logo {
  margin: 0 auto 4px;
  width: 48px;
  height: 48px;
  background: url('../../svg/logo.svg') no-repeat center;
  background-size: cover;
}

.headerMob {
  margin: 0 0 34px;
  font-size: 16px;
  font-weight: 700;
  color: var(--register-header-color);
}

.header {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 360px;
  width: 100%;
}

.label {
  position: relative;
  margin-bottom: 10px;
}

.label:last-of-type {
  margin-bottom: 18px;
}

.label::before {
  position: absolute;
  display: block;
  width: 20px;
  height: 16px;
  left: 20px;
  top: 12px;
}

.labelEmail::before {
  content: url('../../svg/baseline-email-24px.svg');
}

.labelPass::before {
  content: url('../../svg/baseline-lock-24px.svg');
}

.labelName::before {
  content: url('../../svg/baseline-account_box-24px.svg');
}

.input {
  padding: 0 0 0 60px;
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  color: var(--form-input-color);
  border-radius: 6px;
  background-color: var(--form-input-bg-color);
  border: none;
  outline: none;
}

.input::placeholder {
  font-size: 13px;
  font-weight: 100;
  color: var(--form-input-ph-color);
}

.inputError {
  margin: 0;
  color: var(--statistic-total-cost-color);
}

/* .progress {
  height: 6px;
  background-color: var(--progress-bg-color);
  opacity: 0.2;
  border-radius: 6px;
} */

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../images/mock-up.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .container {
      background-image: url(../../images/mock-up@2x.jpg);
    }
  }

  .registerWrap {
    min-width: 550px;
    padding: 38px 60px 42px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--reg-wrap-box-shadow);
  }

  .logo {
    display: none;
  }

  .headerMob {
    display: none;
  }

  .header {
    display: inline-block;
    margin: 0 0 30px;
    font-size: 20px;
    font-weight: 700;
    color: var(--register-header-color);
  }

  .form {
    min-height: 410px;
  }

  .label::before {
    top: 16px;
  }

  .input {
    height: 58px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    background-image: none;
  }

  .desktopWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    padding: 40px;
    background-image: url(../../images/desktop-overlay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mainRegisterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-image: url(../../images/bg-desktop-register.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sloganWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 446px;
    color: var(--white);
  }

  .logoWrap {
    position: relative;
    padding-left: 42px;
    margin-bottom: 42px;
  }

  .logoIcon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 32px;
    height: 24px;
    background-image: url(../../images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sloganTitle {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
  }

  .slogan {
    margin: 0;
    font-size: 35px;
    font-weight: 800;
  }

  .desktopWrapImg {
    max-height: 798px;
    min-height: 560px;
    height: 100%;
    max-width: 396px;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .desktopWrap {
      background-image: url(../../images/desktop-overlay@2x.jpg);
    }

    .mainRegisterWrap {
      background-image: url(../../images/bg-desktop-register@2x.jpg);
    }

    .logoIcon {
      background-image: url(../../images/logo@2x.png);
    }
  }
}
