:root {
  --white: #fff;
  --grey: #d4d4d4;
  --primary-green-color: #3a9200;
  --primary-bg-green-color: #516d57;
  --header-height-mobile: 40px;
  --header-height-tablet: 80px;
  --svg-width: 30px;
  --header-bg-mobile-color: #3f5544;
  --body-bg-desktop-color: #eeecec;
  --user-name-mobile-color: #669668;
  --statistic-selector-border-color: #b9c9d4;
  --statistic-btn-bcgr-color: #619361;
  --statistic-selector-color: #2c353e;
  --statistic-costs-header-color: #f3f6f6;
  --statistic-costs-descr: #282828;
  --statistic-categories-amount-color: #2c353e;
  --primary-font-color: #282828;
  --dashboard-odd-string-bg-color: #f3f6f6;
  --register-header-color: #2c353e;
  --form-input-color: #010a11;
  --form-input-bg-color: #f9fbfb;
  --form-input-ph-color: #b9c9d4;
  --progress-bg-color: #619361;
  --modal-overlay: #00000033;
  --reg-btn-box-shadow: 0px 3px 3px 0px #5c875e33;
  --reg-btn-bg-image: linear-gradient(0deg, #75c16e 0%, #516d57b3 100%);
  --reg-btn-bg-image-before: linear-gradient(0deg, #ecb22a 0%, #ff6c00b3 100%);
  --login-link-color: #6b7d83;
  --reg-wrap-box-shadow: 10px 17.321px 40px 0px #6b7d834d;
  --tab-slogan-color: #282828;
}
