:root {
  --white: #fff;
  --grey: #d4d4d4;
  --primary-green-color: #3a9200;
  --grid-container-padding: 16px;
  --header-height-mobile: 40px;
  --header-height-tablet: 80px;
  --header-bg-mobile-color: #3f5544;
  --body-bg-desktop-color: #eeecec;
  --user-name-mobile-color: #669668;
  --statistic-selector-border-color: #b9c9d4;
  --statistic-btn-bcgr-color: #619361;
  --statistic-selector-color: #2c353e;
  --statistic-costs-header-color: #f3f6f6;
  --statistic-costs-descr: #282828;
  --statistic-categories-amount-color: #2c353e;
}

/* background-color: var(--primary-green-color); */
