.Statistic__costs_list {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.Statistic__costs_item {
  border-bottom: 2px solid var(--statistic-costs-header-color);
}

.Statistic__costs_item:last-child {
  border-bottom: 2px solid var(--statistic-selector-border-color);
}

.Statistic__costs_item_container {
  width: 280px;
  height: 38px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Statistic__categories {
  display: flex;
}

.Statistic__categories_color {
  margin: 0;
  margin-right: 15px;
  width: 15px;
  height: 15px;
  background-color: olive;
  align-self: center;
}

.Statistic__categories_descr {
  margin: 0;
  font-size: 13px;
  color: var(--statistic-costs-descr);
  font-family: 'HelveticaNeueCyr';
}

.Statistic__categories_amount {
  margin: 0;
  font-size: 13px;
  color: var(--statistic-categories-amount-color);
  font-family: 'Segoe UI';
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .Statistic__costs_list {
    display: flex;
    flex-flow: column wrap;
    width: 700px;
    height: 210px;
    border-bottom: 3px solid #b9c9d4;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .Statistic__costs_item {
    width: 346px;
  }
  .Statistic__costs_item:last-child {
    border: none;
  }
  .Statistic__costs_item:nth-child(5) {
    border: none;
  }
  .Statistic__costs_item_container {
    width: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .Statistic__costs_list {
    width: 360px;
  }
  .Statistic__costs_item {
    width: 360px;
  }
  .Statistic__costs_item_container {
    width: 290px;
  }
  .Statistic__costs_item:last-child {
    border-bottom: 2px solid #b9c9d4;
  }
}
