.MainLayout {
  min-height: calc(100vh - var(--header-height-mobile));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
}
.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: blue;
}
.Sidebar {
  height: var(--header-height-mobile);
  width: 100%;
  background-color: red;
}
.Page {
  width: 100%;
  flex-grow: 1;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: green;
}

@media screen and (min-width: 768px) {
  .MainLayout {
    min-height: calc(100vh - var(--header-height-tablet));
  }
  .Sidebar {
    height: var(--header-height-tablet);
  }
  .Page {
    padding-top: 0;
    padding-right: 30px;
    padding-left: 30px;
    background-color: green;
  }
}

@media screen and (min-width: 1280px) {
  .Container {
    max-width: 1700px;
    flex-direction: row;
    align-items: unset;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
  .Sidebar {
    height: auto;
    flex: 0 0 22%;
    margin-right: 40px;
  }
  .Page {
    flex-grow: 1;
    padding-right: 0;
    padding-left: 0;
  }
}
