/* .Statistics__wrapper {
  margin: 0 auto;
} */
.Statistics__container {
  /* margin: 0 auto; */
  padding-bottom: 30px;
}
.Statistics__loader {
  width: 100px;
  margin: 0 auto;
}

.Statistic__selectors_container {
  margin: 0 auto;
  margin-bottom: 22px;
  max-width: 280px;
  display: flex;
  justify-content: space-between;
}
.Statistic__selector {
  font-size: 13px;
  color: var(--statistic-selector-color);
  font-weight: 700;
  border: 2px solid var(--statistic-selector-border-color);
  border-radius: 5px;
  /* background-color: var(--white); */
  min-width: 126px;
  min-height: 31px;
  padding: 0 12px;
}

.Statistic__btn {
  display: block;
  margin: 0 auto;
  min-width: 280px;
  min-height: 39px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--statistic-btn-bcgr-color);
  font-size: 15px;
  color: var(--white);
  font-weight: bold;
  outline: none;
  position: relative;
  z-index: 1;
  letter-spacing: 1px;
}

.Statistic__btn::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background-image: linear-gradient(
    45deg,
    rgb(235, 202, 72) 22%,
    rgb(236, 102, 20)
  );
  z-index: -1;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.Statistic__btn:hover::before {
  opacity: 1;
}

.Statistic__asside {
  margin-right: -10px;
  margin-left: -10px;
  min-width: 360px;
}

.Statistic__costs {
  /* width: 320px;
  margin: 0 auto;
  height: auto; */
}

.Statistic__costs_header_container {
  /* width: 100%;
  margin: 0 auto; */
  min-height: 50px;
  background-color: var(--statistic-costs-header-color);
}

.Statistic__costs_header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.Statistic__costs_descr {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 30px;
  color: var(--statistic-costs-descr);
  font-weight: bold;
  line-height: 50px;
}

.Statistic__total_container {
  width: 280px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
}

.Statistic__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Statistic__total_descr {
  margin: 0;
  letter-spacing: 1px;
  color: var(--primary-font-color);
}

.Statistic__total_cost {
  margin: 0;
  color: var(--statistic-total-cost-color);
}
.Statistic__total_income {
  margin: 0;
  color: var(--statistic-total-income-color);
}

.Statistc__diagram {
  /* padding: ; */
  margin-bottom: 30px;
}
.Statistic__title_container {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .Statistic__costs_header_container {
    display: none;
  }

  .Statistic__asside {
    margin: 0;
  }

  .Statistic__total_descr {
    /* font-size: 13px; */
  }

  .Statistic__total_cost {
    /* font-size: 13px; */
  }

  .Statistic__total_income {
    /* font-size: 13px; */
  }
  .Statistic__total_container {
    font-size: 13px;
    margin-right: 25px;
  }
  .Statistc__diagram {
    padding: 30px 0;
    /* width: 700px;
    height: 550px; */
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    /* background-color: #ffffff; */
  }
  .Statistic__asside {
    /* margin-bottom: 52px; */
  }
}

@media screen and (min-width: 768px) {
  .Statistics__wrapper {
    background-color: #ffffff;

    /* width: 700px; */
  }
  .Statistics__container {
    /* width: 700px; */
    padding-bottom: 40px;
  }

  .Statistic__selectors_container {
    /* width: 360px; */
  }
  .Statistic__selector {
    /* width: 174px; */
  }
  .Statistic__costs {
    /* width: 700px; */
  }

  .Statistic__title_container {
    display: block;
    min-height: 90px;
    background-color: var(--primary-bg-green-color);
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  }

  .Statistic__title {
    margin: 0;
    text-align: center;
    line-height: 90px;
    font-size: 15px;
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 1280px) {
  .Statistics__wrapper {
    border-radius: 5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);

    /* filter: drop-shadow(10px 17.321px 20px rgba(1, 1, 0, 0.15)); */
  }

  .Statistics__container {
    /* width: 700px; */
    padding: 40px 0;
  }
  .Statistic__title_container {
    /* width: 924px; */
    margin-bottom: 0;
  }

  .Statistc__diagram {
    margin-bottom: 0;

    /* align-self: center; */
  }
  .Statistics__loader {
    align-self: center;
  }
  .Statistic__asside {
    /* align-self: center; */
  }

  .Statistics__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 924px;
    height: 600px; */
  }
  .Statistic__costs {
    /* width: 360px; */
  }
}
