.UserMenu {
  display: flex;
  align-items: center;
}

.name {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-bg-green-color);
  margin-right: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-right: 1px solid var(--primary-bg-green-color);
}
.logout {
  composes: name;
  border: none;
}

.button {
  background: transparent;
  border-style: none;
  cursor: pointer;
  fill: var(--user-name-mobile-color);
}

.logoutLogo {
  width: var(--svg-width);
  padding: 5px;
}
