.Button {
  position: relative;
  height: 48px;
  margin-bottom: 14px;
  padding: 0;
  z-index: 1;
  font-size: 15px;
  font-weight: 700;
  color: var(--white);
  background-image: var(--reg-btn-bg-image);
  box-shadow: var(--reg-btn-box-shadow);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.Button::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: var(--reg-btn-bg-image-before);
  border-radius: 6px;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.Button:hover::before {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .Button {
    height: 58px;
    font-size: 20px;
  }
}
